/******************************************
/* CSS
/*******************************************/

/* * Box Model Hack */
*{
  box-sizing: border-box;
} *

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-color: aliceblue;
}

header{
  float: left;
  height: 100px;
  width: 100%;
  padding: 25px;
}

h1{
  text-align: center;
  
}

p{
  padding: 25px;
}

#headline{
  display: inline-block;
  padding: 1;

}


#articleBoxes,#inputSec{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
}

input{
  height: 30px;
  width: 250px;
  margin: 30px;
}

button{
  width: 90px;
  height: 30px;
  margin: 20px;
}

#articleSec{
 
  width: 600px;
  height: 900px;
  border: white 10px solid;
}

#headlineContainter{
  padding: 10px;
  border: brown solid 10px;
  width: 100%
}


}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
